<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block th:insert="~{fragments/header :: head}"></th:block>
<style type="text/css">
.flex-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
</style>
</head>
<body>
	<th:block th:insert="~{fragments/header :: pre-loader}"></th:block>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<th:block th:insert="~{fragments/header :: navbar-top}"></th:block>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:insert="~{fragments/header :: navbar-left}"></th:block>

					<div class="pcoded-content">

						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">
										<!-- Input Alignment card start -->
										<div class="card">
											<div class="card-header py-2">
												<div
													class="d-flex justify-content-between align-items-center flex-wrap">
													<h5 class="mb-0"
														th:text="#{label.sale.daily.summary.details}+' '+#{label.general.on}+' '+${#temporals.format(summary.summaryDate, 'yyyy-MM-dd')}"></h5>

													<div class="d-flex flex-wrap align-items-center gap-2">
														<div class="input-group input-group-sm">
															<div class="input-group-append">
																<!-- Excel Button -->
																<a
																	th:href="@{'/daily-sales/export/excel/'+ ${summary.id}}"
																	class="btn btn-success btn-sm waves-effect waves-light d-inline-flex align-items-center justify-content-center"
																	style="height: 32px; width: 32px; padding: 0; margin-left: 2px;"
																	th:title="#{label.button.export.excel}"> <i
																	class="fa fa-file-excel-o"></i>
																</a>
																<!-- Pdf Button -->
																<a
																	th:href="@{'/daily-sales/export/pdf/'+ ${summary.id}}"
																	class="btn btn-danger btn-sm waves-effect waves-light d-inline-flex align-items-center justify-content-center"
																	style="height: 32px; width: 32px; padding: 0; margin-left: 2px;"
																	th:title="#{label.button.export.pdf}"> <i
																	class="fa fa-file-pdf-o"></i>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="card-block">
												<div>
													<h4>
														Total Paid:<span th:text="${summary.totalAmountToPay}"></span>
													</h4>

													<div class="dt-responsive table-responsive">
														<table id="code-type-table"
															class="table table-striped table-bordered compact nowrap"
															th:if="${sales != null}">
															<caption></caption>
															<thead>
																<tr>
																	<th scope="col" th:text="#{label.general.name}"></th>
																	<th scope="col" th:text="#{label.general.date}"></th>
																	<th scope="col" th:text="#{label.general.type}"></th>
																	<th scope="col" th:text="#{label.general.status}"></th>
																	<th scope="col" th:text="#{label.general.total.paid}">Paid</th>
																	<th scope="col" th:text="#{label.button.actions}"></th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="sale : ${sales}">
																	<td th:text="${sale.internalCode}"></td>
																	<td
																		th:text="${#dates.format(sale.saleDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
																	<td><span th:text="${sale.transactionType}"
																		th:class="${sale.transactionType != null} ? (${sale.transactionType.name()} == 'SALE' ? 'badge bg-success' : 'badge bg-danger') : 'badge bg-secondary'">
																	</span></td>
																	<td><span th:text="${sale.status}"
																		th:class="${sale.status != null} ? (${sale.status.name()} == 'PAID' ? 'badge bg-success' : (${sale.status.name()} == 'DONE' ? 'badge bg-warning text-dark' : 'badge bg-danger')) : 'badge bg-secondary'">
																	</span></td>
																	<td th:text="${sale.totalAmountToPay}"></td>
																	<td><a href="#"
																		th:href="@{'/sales/view/' + ${sale.id}}"
																		class="waves-effect waves-dark"><span
																			class="pcoded-micon"><em class="fa fa-eye"></em></span></a>
																	</td>
																</tr>

															</tbody>
														</table>
													</div>


												</div>
											</div>
										</div>
										<!-- Input Alignment card end -->

									</div>
									<!-- Page-body end -->
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{fragments/header :: footer}"></th:block>
</body>

</html>
