<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block th:insert="~{fragments/header :: head}"></th:block>
</head>
<body>
	<th:block th:insert="~{fragments/header :: pre-loader}"></th:block>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<th:block th:insert="~{fragments/header :: navbar-top}"></th:block>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:insert="~{fragments/header :: navbar-left}"></th:block>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">
										<!-- Input Alignment card start -->
										<div class="card">
											<div class="card-header">
												<h5 th:text="#{label.quantity.units.details}"></h5>
											</div>
											<div class="card-block">
												<form th:object="${quantityUnit}"
													th:action="@{/quantityUnits/new}" method="post">
													<input type="hidden" th:field="*{id}" />
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="name"
															th:text="#{label.general.name}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{name}" id="name"
																class="form-control form-control-bold"
																th:placeholder="#{label.general.name}"> <span class="col-form-label"
																th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="code"
															th:text="#{label.general.code}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{code}" id="code"
																class="form-control form-control-bold"
																th:placeholder="#{label.general.code}"> <span
																class="col-form-label"
																th:if="${#fields.hasErrors('code')}"
																th:errors="*{code}"></span>
														</div>
													</div>
													
													<div class="card-block">
														<button type="submit"
															class="btn btn-success btn-round waves-effect waves-light"
															th:text="#{label.button.save}"></button>

														<a href="#" th:href="@{/quantityUnits/list}"
															class="btn btn-danger btn-round waves-effect waves-light"
															th:text="#{label.button.cancel}"></a>
													</div>
												</form>
											</div>
										</div>
										<!-- Input Alignment card end -->

									</div>
									<!-- Page-body end -->
								</div>
								<div id="styleSelector"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{fragments/header :: footer}"></th:block>
</body>

</html>
