<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block th:insert="~{fragments/header :: head}"></th:block>
</head>
<body>
	<th:block th:insert="~{fragments/header :: pre-loader}"></th:block>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<th:block th:insert="~{fragments/header :: navbar-top}"></th:block>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:insert="~{fragments/header :: navbar-left}"></th:block>

					<div class="pcoded-content">

						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">
										<!-- Input Alignment card start -->
										<div class="card">
											<div class="card-header">
												<h5 th:text="#{label.invoice.details}"></h5>
												<a
													th:if="${invoice.status != null and invoice.status.name() == 'DRAFT'}"
													th:href="@{'/invoices/confirm/' + ${invoice.id}}"
													class="btn btn-success btn-round waves-effect waves-light"
													th:text="#{label.button.confirm}"></a> <a
													th:if="${invoice.status != null and invoice.status.name() == 'DRAFT'}"
													th:href="@{'/invoices/edit/' + ${invoice.id}}"
													class="btn btn-info btn-round waves-effect waves-light"
													th:text="#{label.button.edit}"></a> <a
													th:if="${invoice.status != null and invoice.status.name() != 'DRAFT'}"
													th:href="@{'/invoices/print/' + ${invoice.id}}"
													class="btn btn-inverse btn-round waves-effect waves-light"
													th:text="#{label.button.print}" target="_blank"></a> <a
													th:href="@{/invoices/list}"
													class="btn btn-danger btn-round waves-effect waves-light"
													th:text="#{label.button.back}"></a>
												<div class="dropdown-primary dropdown open">
													<button
														class="btn btn-primary dropdown-toggle waves-effect waves-light "
														type="button" id="dropdown-2" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="true">Actions</button>
													<div class="dropdown-menu" aria-labelledby="dropdown-2"
														data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
														<a class="dropdown-item waves-light waves-effect" href="#">View</a>
														<a class="dropdown-item waves-light waves-effect" href="#">Edit</a>
														<a class="dropdown-item waves-light waves-effect" href="#">Print</a>

													</div>
												</div>
											</div>
											<div class="card-block">
												<div>
													<h4>
														Invoice #<span th:text="${invoice.status}"></span>
													</h4>
													<!-- 
										
													<p>
														<strong>Customer:</strong> <span
															th:text="${invoice.customerName}"></span>
													</p>
													<p>
														<strong>Date:</strong> <span
															th:text="${#dates.format(invoice.date, 'yyyy-MM-dd')}"></span>
													</p>
-->
													<div class="card-block table-border-style">
														<div class="table-responsive">
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th>#</th>
																		<th>Item</th>
																		<th>Quantity</th>
																		<th>Unit Price</th>
																		<th>Total</th>
																	</tr>
																</thead>
																<tbody>
																	<tr th:each="line, stat : ${invoice.lines}">
																		<th scope="row" th:text="${stat.index + 1}"></th>
																		<td th:text="${line.itemName}"></td>
																		<td th:text="${line.quantity}"></td>
																		<td th:text="${line.unitPrice}"></td>
																		<td th:text="${line.quantity * line.unitPrice}"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
													<h6 class="sub-title">
														Tax: <span th:text="${invoice.totalTaxAmount}"></span><br>
														Sub total: <span th:text="${invoice.totalTaxAmount}"></span><br>
														Total: <span th:text="${invoice.totalAPayer}"></span>
													</h6>
												</div>
											</div>
										</div>
										<!-- Input Alignment card end -->

									</div>
									<!-- Page-body end -->
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{fragments/header :: footer}"></th:block>

</body>

</html>
