<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title th:text="#{label.warehouse.stock.product}"></title>
<th:block th:insert="~{fragments/header :: head}"></th:block>
</head>
<body>
	<th:block th:insert="~{fragments/header :: pre-loader}"></th:block>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<th:block th:insert="~{fragments/header :: navbar-top}"></th:block>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:insert="~{fragments/header :: navbar-left}"></th:block>

					<div class="pcoded-content">
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">

										<!-- Hover table card start -->
										<div class="card">
											<div class="card-header">
												<h5 th:text="#{label.warehouse.stock.product}"></h5>
												</div>
											<div class="dt-responsive table-responsive">
												<table id="code-type-table"
													class="table table-striped table-bordered compact nowrap"
													th:if="${details != null}">
													<caption></caption>
													<thead>
														<tr>
															<th scope="col">#</th>
															<th scope="col" th:text="#{label.general.item}"></th>
															<th scope="col" th:text="#{label.general.warehouse}"></th>
															<th scope="col" th:text="#{label.general.current}"></th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="list,stat : ${details}">
															<th scope="row" th:text="${stat.index + 1}"></th>
															<td th:text="${list.item.itemName}"></td>
															<td th:text="${list.warehouse.warehouseName}"></td>
															<td th:text="${list.quantity}"
															th:class="${list.quantity != null} ? 
                     (${list.quantity} > 0 ? 'badge bg-success' : 
                     (list.quantity == 0 ? 'badge bg-warning text-dark' : 'badge bg-danger')) 
                     : 'badge bg-secondary'"
															></td>
															
														</tr>

													</tbody>
												</table>
											</div>
										</div>

									</div>
									<!-- Hover table card end -->

								</div>

								<!-- Page-body end -->
							</div>
							<div id="styleSelector"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<th:block th:insert="~{fragments/header :: footer}"></th:block>
</body>

</html>
