<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title th:text="#{label.shelf.list}"></title>
<th:block th:insert="~{fragments/header :: head}"></th:block>
</head>
<body>
	<th:block th:insert="~{fragments/header :: pre-loader}"></th:block>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<th:block th:insert="~{fragments/header :: navbar-top}"></th:block>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:insert="~{fragments/header :: navbar-left}"></th:block>

					<div class="pcoded-content">
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<!-- Page-wrapper start -->
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">
										<!-- Page-row start -->
										<div class="row">
											<!-- Page-col start -->
											<div class="col-xl-12">
												<!-- To Do Card List card start -->
												<div class="card">
													<div class="card-header">
														<h5 th:text="#{label.shelf.list}"></h5>
														<a href="#" th:href="@{/shelves/new}"
															class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"><em
															class="icofont icofont-plus m-r-5"></em> </a>
													</div>
													<div class="card-block">
														<section id="task-container">
															<ul id="task-list" th:each="list : ${lists}">
																<li class="border p-2 mb-2">
																	<p class="mb-1">
																		<span th:text="${list.internalCode}"></span><span
																			class="pcoded-badge label label-danger"
																			th:text="${list.numberOfProductsNotSynchronized}">0</span>
																	</p>
																	<p class="mb-2">
																		<span th:text="${list.warehouse.warehouseName}"></span>
																	</p>

																	<div
																		class="d-flex justify-content-between align-items-center">
																		<a href="#" th:href="@{'/shelves/open/' + ${list.id}}"
																			class="btn btn-success waves-effect waves-light">
																			<i class="fa fa-folder-open"></i>
																		</a> <a href="#"
																			th:href="@{'/shelves/update/' + ${list.id}}"
																			class="btn btn-primary waves-effect waves-light">
																			<i class="fa fa-edit"></i>
																		</a>
																	</div>
																</li>

															</ul>
														</section>
													</div>
												</div>
												<!-- To Do Card List card end -->
											</div>
											<!-- Page-col end -->
										</div>
										<!-- Page-row end -->

									</div>
									<!-- Page-body end -->

								</div>
								<!-- Page-wrapper end -->
								<div id="styleSelector"></div>
							</div>
							<!-- Main-body end -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{fragments/header :: footer}"></th:block>
</body>

</html>
