<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<body>
	<div th:fragment="body">
		<h3>Users</h3>
		<a class="btn btn-primary mb-2" th:href="@{/admin/users/create}">Create
			User</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Name</th>
					<th>Roles</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${users.content}">
					<td th:text="${u.username}"></td>
					<td th:text="${u.fullname}"></td>
					<td><span th:each="r : ${u.roles}"
						class="badge bg-secondary me-1" th:text="${r.name}"></span></td>
					<td><a th:href="@{|/admin/users/edit/${u.id}|}"
						class="btn btn-sm btn-outline-primary">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>