<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text="#{niwe_erp.app.title}"></title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="Nika Erp" />
<meta name="keywords" content="Nika Erp" />
<meta name="author" content="Mangatek Ltd" />
<!-- Favicon icon -->
<link rel="icon" th:href="@{/assets/images/favicon.ico}"
	type="image/x-icon">
<!-- Google font-->
<!-- Google font-->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/css}">

<!-- waves.css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/pages/waves/css/waves.min.css}" media="all">
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/bootstrap/css/bootstrap.min.css}">
<!-- waves.css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/pages/waves/css/waves.min.css}" media="all">
<!-- themify icon -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/icon/themify-icons/themify-icons.css}">

<!-- ico font -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/icon/icofont/css/icofont.css}">
<!-- Font Awesome -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/icon/font-awesome/css/font-awesome.min.css}">
<!-- scrollbar.css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/jquery.mCustomScrollbar.css}">
<!-- jquery file upload Frame work -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/jquery.filer.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/jquery.filer-dragdropbox-theme.css}">
<!-- animation nifty modal window effects css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/component.css}">
<!-- Select 2 css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/pages/select/css/select2.min.css}">
<!-- Data Table Css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/bootstrap/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/bootstrap/css/responsive.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/pages/data-table/css/jquery.mCustomScrollbar.css}">
<!-- am chart export.css -->
<link rel="stylesheet" type="text/css"
	href="https://www.amcharts.com/lib/3/plugins/export/export.css"
	media="all" />

<link rel="stylesheet" th:href="@{/assets/css/style.css}" />
</head>
<body>
	<div th:fragment="pre-loader">
		<!-- Pre-loader start -->
		<div class="theme-loader">
			<div class="loader-track">
				<div class="preloader-wrapper">
					<div class="spinner-layer spinner-blue">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					<div class="spinner-layer spinner-red">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>

					<div class="spinner-layer spinner-yellow">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>

					<div class="spinner-layer spinner-green">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pre-loader end -->
	</div>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">
			<div th:fragment="navbar-top">
				<nav aria-label="Nika Erp menu"
					class="navbar header-navbar pcoded-header">
					<div class="navbar-wrapper">
						<div class="navbar-logo">
							<a class="mobile-menu waves-effect waves-light"
								id="mobile-collapse" href="#!"> <em class="ti-menu"></em>
							</a>
							<div class="mobile-search waves-effect waves-light">
								<div class="header-search">
									<div class="main-search morphsearch-search">
										<div class="input-group">
											<span class="input-group-addon search-close"><em
												class="ti-close"></em></span> <input type="text"
												class="form-control"
												th:placeholder="#{label.search.placeholder}"> <span
												class="input-group-addon search-btn"><em
												class="ti-search"></em></span>
										</div>
									</div>
								</div>
							</div>
							<a href="index.html"> <img class="img-fluid"
								th:src="@{/assets/images/logo.png}" alt="Theme-Logo" />
							</a> <a class="mobile-options waves-effect waves-light"> <em
								class="ti-more"></em>
							</a>
						</div>

						<div class="navbar-container container-fluid">
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle">
										<a href="javascript:void(0)"><em class="ti-menu"></em></a>
									</div>
								</li>
								<li class="header-search">
									<div class="main-search morphsearch-search">
										<div class="input-group">
											<span class="input-group-addon search-close"><em
												class="ti-close"></em></span> <input type="text"
												class="form-control"> <span
												class="input-group-addon search-btn"><em
												class="ti-search"></em></span>
										</div>
									</div>
								</li>
								<li><a href="#!" onclick="javascript:toggleFullScreen()"
									class="waves-effect waves-light"> <em class="ti-fullscreen"></em>
								</a></li>
							</ul>
							<ul class="nav-right">
								<li sec:authorize="isAuthenticated()"
									class="user-profile header-notification"><a href="#!"
									class="waves-effect waves-light"> <img
										th:src="@{/assets/images/fourier.png}" class="img-radius"
										alt="User-Profile-Image"> <span
										sec:authentication="name">Fourier</span> <em
										class="ti-angle-down"></em>
								</a>
									<ul class="show-notification profile-notification">
										<li class="waves-effect waves-light"><a href="#!"> <em
												class="ti-settings"></em> Settings
										</a></li>
										<li class="waves-effect waves-light"><a
											href="user-profile.html"> <em class="ti-user"></em>
												Profile
										</a></li>
										<li class="waves-effect waves-light"><a
											href="email-inbox.html"> <em class="ti-email"></em> My
												Messages
										</a></li>
										<li class="waves-effect waves-light"><a
											href="auth-lock-screen.html"> <em class="ti-lock"></em>
												Lock Screen
										</a></li>
										<li class="waves-effect waves-light"><a href="#"
											th:href="@{/logout}"> <em class="ti-layout-sidebar-left"></em>
												Logout
										</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<div th:fragment="navbar-left">
						<nav aria-label="Related links" class="pcoded-navbar">
							<div class="sidebar_toggle">
								<a href="#"><em class="icon-close icons"></em></a>
							</div>
							<div class="pcoded-inner-navbar main-menu">
								<div class="p-15 p-b-0">
									<form class="form-material">
										<div class="form-group form-primary">
											<input type="text" name="footer-email"
												th:placeholder="#{label.search.placeholder}"
												class="form-control" required> <span
												class="form-bar"></span> <label class="float-label"><em
												class="fa fa-search m-r-10"></em></label>
										</div>
									</form>
								</div>
								<div class="pcoded-navigation-label"
									data-i18n="nav.category.navigation"></div>
								<ul class="pcoded-item pcoded-left-item">
									<li class="active"><a href="#" th:href="@{/}"
										class="waves-effect waves-dark"> <span
											class="pcoded-micon"><em class="ti-home"></em><strong>D</strong></span>
											<span class="pcoded-mtext" data-i18n="nav.dash.main"
											th:text="#{menu.dashboard}"></span> <span
											class="pcoded-mcaret"></span>
									</a></li>
								</ul>
								<ul class="pcoded-item pcoded-left-item">
									<li class="pcoded-hasmenu"><a href="javascript:void(0)"
										class="waves-effect waves-dark"> <span
											class="pcoded-micon"><em class="fa fa-users"></em></span> <span
											class="pcoded-mtext" data-i18n="nav.basic-components.main"
											th:text="#{menu.administration}"></span> <span
											class="pcoded-mcaret"></span>
									</a>
										<ul class="pcoded-submenu">
											<li class=" "><a href="#" th:href="@{/users/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.breadcrumbs"
													th:text="#{menu.users}"> </span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#" th:href="@{/roles/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.roles}"></span> <span class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#" th:href="@{/permissions/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.permissions}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>


										</ul></li>
									<li class="pcoded-hasmenu"><a href="javascript:void(0)"
										class="waves-effect waves-dark"> <span
											class="pcoded-micon"><em class="fa fa-wrench"></em></span> <span
											class="pcoded-mtext" data-i18n="nav.basic-components.main"
											th:text="#{menu.settings}"></span> <span
											class="pcoded-mcaret"></span>
									</a>
										<ul class="pcoded-submenu">
											<li class=" "><a href="#" th:href="@{/taxpayers/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.breadcrumbs"
													th:text="#{menu.taxpayers}"> </span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#"
												th:href="@{/taxpayer-branches/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.taxpayer-branches}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#" th:href="@{/warehouses/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.warehouses}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#" th:href="@{/countries/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.countries}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>


										</ul></li>
									<li class="pcoded-hasmenu"><a href="javascript:void(0)"
										class="waves-effect waves-dark"> <span
											class="pcoded-micon"><em class="fa fa-th-list"></em></span> <span
											class="pcoded-mtext" data-i18n="nav.basic-components.main"
											th:text="#{menu.items}"></span> <span class="pcoded-mcaret"></span>
									</a>
										<ul class="pcoded-submenu">
											<li class=" "><a href="#" th:href="@{/items/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.items}"></span> <span class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#" th:href="@{/items/page}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.items.v2}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#"
												th:href="@{/itemClassifications/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.item.classifications}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#"
												th:href="@{/quantityUnits/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.quantity.units}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>

											<li class=" "><a href="#" th:href="@{/itemNatures/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.item.natures}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>
										</ul></li>
									<li class="pcoded-hasmenu"><a href="javascript:void(0)"
										class="waves-effect waves-dark"> <span
											class="pcoded-micon"><em class="fa fa-shopping-bag"></em></span>
											<span class="pcoded-mtext"
											data-i18n="nav.basic-components.main"
											th:text="#{menu.invoicing}"></span> <span
											class="pcoded-mcaret"></span>
									</a>
										<ul class="pcoded-submenu">
											<li class=" "><a href="#" th:href="@{/invoices/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.invoices}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#" th:href="@{/taxTypes/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.taxes}"></span> <span class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#" th:href="@{/chargeTypes/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.charges}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>


										</ul></li>
									<li class="pcoded-hasmenu"><a href="javascript:void(0)"
										class="waves-effect waves-dark"> <span
											class="pcoded-micon"><em class="ti-agenda"></em></span> <span
											class="pcoded-mtext" data-i18n="nav.basic-components.main"
											th:text="#{menu.inventory}"></span> <span
											class="pcoded-mcaret"></span>
									</a>
										<ul class="pcoded-submenu">
											<li class=" "><a href="#"
												th:href="@{/stocks-received/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.stock.received}"> </span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#"
												th:href="@{/stock-transfers/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.stock.transfers}"> </span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#"
												th:href="@{/stock-movements/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.stock.movements}"> </span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class="pcoded-hasmenu"><a href="javascript:void(0)"
												class="waves-effect waves-dark"><span
													class="pcoded-micon"><em class="ti-direction-alt"></em></span>
													<span class="pcoded-mtext"
													th:text="#{label.general.reports}"></span> <span
													class="pcoded-mcaret"></span></a>
												<ul class="pcoded-submenu">
													<li class=" "><a href="#"
														th:href="@{/warehouse-stocks/summary}"
														class="waves-effect waves-dark"> <span
															class="pcoded-micon"><em class="ti-angle-right"></em></span>
															<span class="pcoded-mtext"
															data-i18n="nav.basic-components.alert"
															th:text="#{menu.stock.summary}"> </span> <span
															class="pcoded-mcaret"></span>
													</a></li>
													<li class=" "><a href="#"
														th:href="@{/warehouse-stocks/aging}"
														class="waves-effect waves-dark"> <span
															class="pcoded-micon"><em class="ti-angle-right"></em></span>
															<span class="pcoded-mtext"
															data-i18n="nav.basic-components.alert"
															th:text="#{menu.stock.aging}"> </span> <span
															class="pcoded-mcaret"></span>
													</a></li>
												</ul></li>

										</ul></li>
									<li class="pcoded-hasmenu"><a href="javascript:void(0)"
										class="waves-effect waves-dark"> <span
											class="pcoded-micon"><em class="fa fa-shopping-cart"></em></span>
											<span class="pcoded-mtext"
											data-i18n="nav.basic-components.main" th:text="#{menu.sales}"></span>
											<span class="pcoded-mcaret"></span>
									</a>
										<ul class="pcoded-submenu">
											<li class=" "><a href="#" th:href="@{/shelves/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.shelves}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>
											<li class=" "><a href="#" th:href="@{/sales/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.sales}"></span> <span class="pcoded-mcaret"></span>
											</a></li>
											<li class="pcoded-hasmenu"><a href="javascript:void(0)"
												class="waves-effect waves-dark"><span
													class="pcoded-micon"><em class="ti-direction-alt"></em></span>
													<span class="pcoded-mtext"
													th:text="#{label.general.reports}"></span> <span
													class="pcoded-mcaret"></span></a>
												<ul class="pcoded-submenu">
													<li class=""><a href="#"
														th:href="@{/daily-sales/daily}"
														class="waves-effect waves-dark"><span
															class="pcoded-micon"><i class="ti-direction-alt"></i></span>
															<span class="pcoded-mtext"
															th:text="#{label.sale.daily.summary}"></span> <span
															class="pcoded-mcaret"></span></a></li>
													<li class=""><a href="#"
														th:href="@{/daily-sales/monthly}"
														class="waves-effect waves-dark"><span
															class="pcoded-micon"><i class="ti-direction-alt"></i></span>
															<span class="pcoded-mtext"
															th:text="#{label.sale.monthly.summary}"></span> <span
															class="pcoded-mcaret"></span></a></li>
													<li class=""><a href="#"
														th:href="@{/daily-sales/annual}"
														class="waves-effect waves-dark"><span
															class="pcoded-micon"><i class="ti-direction-alt"></i></span>
															<span class="pcoded-mtext"
															th:text="#{label.sale.annual.summary}"></span> <span
															class="pcoded-mcaret"></span></a></li>
												</ul></li>
										</ul></li>
									<li class="pcoded-hasmenu"><a href="javascript:void(0)"
										class="waves-effect waves-dark"> <span
											class="pcoded-micon"><em class="fa fa-suitcase"></em></span>
											<span class="pcoded-mtext"
											data-i18n="nav.basic-components.main"
											th:text="#{menu.purchases}"></span> <span
											class="pcoded-mcaret"></span>
									</a>
										<ul class="pcoded-submenu">
											<li class=" "><a href="#" th:href="@{/purchases/list}"
												class="waves-effect waves-dark"> <span
													class="pcoded-micon"><em class="ti-angle-right"></em></span>
													<span class="pcoded-mtext"
													data-i18n="nav.basic-components.alert"
													th:text="#{menu.purchases}"></span> <span
													class="pcoded-mcaret"></span>
											</a></li>
										</ul></li>
								</ul>

							</div>
						</nav>
					</div>
					<div class="pcoded-content">
						<!-- Page-header start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-8">
										<div class="page-header-title">
											<h5 class="m-b-10">Dashboard</h5>
											<p class="m-b-0">Welcome to My RRA</p>
										</div>
									</div>
									<div class="col-md-4">
										<ul class="breadcrumb-title">
											<li class="breadcrumb-item"><a href="index.html"> <em
													class="fa fa-home"></em>
											</a></li>
											<li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">

										<!-- Page-body end -->
									</div>
									<div id="styleSelector"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="footer">
		<div class="footer">
			<p class="text-center m-b-0">Copyright © 2026 NIWE TECHNOLOGY LTD
				, All rights reserved.</p>
		</div>
		<!-- Required Jquery -->
		<script type="text/javascript"
			th:src="@{/assets/js/jquery/jquery.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/js/jquery-ui/jquery-ui.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/js/popper.js/popper.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/js/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/widget/excanvas.js}"></script>
		<!-- waves js -->
		<script th:src="@{/assets/pages/waves/js/waves.min.js}"></script>
		<!-- jquery slimscroll js -->
		<script type="text/javascript"
			th:src="@{/assets/js/jquery-slimscroll/jquery.slimscroll.js}"></script>
		<!-- modernizr js -->
		<script type="text/javascript"
			th:src="@{/assets/js/modernizr/modernizr.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/js/modernizr/css-scrollbars.js}"></script>
		<!-- slimscroll js -->
		<script type="text/javascript" th:src="@{/assets/js/SmoothScroll.js}"></script>
		<script th:src="@{/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
		<!-- Chart js -->
		<script type="text/javascript"
			th:src="@{/assets/js/chart.js/Chart.js}"></script>
		<!-- amchart js -->
		<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
		<script th:src="@{/assets/pages/widget/amchart/gauge.js}"></script>
		<script th:src="@{/assets/pages/widget/amchart/serial.js}"></script>
		<script th:src="@{/assets/pages/widget/amchart/light.js}"></script>
		<script th:src="@{/assets/pages/widget/amchart/pie.min.js}"></script>
		<script
			src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
		<!-- menu js -->
		<script th:src="@{/assets/js/pcoded.min.js}"></script>
		<script th:src="@{/assets/js/vertical-layout.min.js}"></script>
		<!-- data-table js -->
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/dataTables.buttons.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/jszip.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/pdfmake.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/vfs_fonts.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/buttons.print.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/buttons.html5.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/dataTables.bootstrap4.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/dataTables.responsive.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/responsive.bootstrap4.min.js}"></script>
		<!-- jquery file upload js -->
		<script type="text/javascript"
			th:src="@{/assets/js/jquery/jquery.filer.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/js/jquery/custom-filer.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/js/jquery/jquery.fileuploads.init.js}"></script>

		<!-- Select 2 js -->
		<script type="text/javascript"
			th:src="@{/assets/pages/select/js/select2.full.min.js}"></script>
		<!-- custom js -->
		<script type="text/javascript"
			th:src="@{/assets/pages/select/js/select2-custom.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/data-table/js/data-table-custom.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/dashboard/custom-dashboard.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
		<!-- Model animation js -->
		<script type="text/javascript" th:src="@{/assets/js/classie.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/modalEffects.js}"></script>
		<div id="mfa_inject_cartdata" hidden="hidden"></div>
		<div id="mfa_inject" hidden="hidden"></div>
		<!-- Editable-table js -->
		<script type="text/javascript"
			th:src="@{/assets/pages/edit-table/editable2.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/edit-table/editable.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/pages/edit-table/jquery.tabledit.js}"></script>


	</div>
</body>

</html>
