<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title th:text="#{dashboard.title}">Dashboard</title>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: pre-loader"></th:block>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">
			<th:block th:include="fragments/header :: navbar-top"></th:block>
			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:include="fragments/header :: navbar-left"></th:block>
					<div class="pcoded-content">
						<!-- Page-header start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-8">
										<div class="page-header-title">
											<h5 class="m-b-10">
												<span th:text="#{dashboard.title}"></span>
											</h5>
											<p class="m-b-0">
												Welcome <span th:text="#{dashboard.title}"></span>
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<ul class="breadcrumb-title">
											<li class="breadcrumb-item"><a href="#" th:href="@{/}">
													<em class="fa fa-home"></em>
											</a></li>
											<li class="breadcrumb-item"><a href="#" th:href="@{/}">Dashboard</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body"></div>
									<!-- Page-body end -->
								</div>
								<div id="styleSelector"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/header :: footer"></th:block>
</body>

</html>
